/* src/components/Button.module.scss */
.button {
    background-color: #FFC85E;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    justify-content: flex-start;
    //radius: 79px;
  
    &:hover {
      background-color: #FFC85E;
    }
  }
  
.catalogButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffcc50;  
  color: #fff;  
  border: 2px solid #ffcc50;  
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  border-radius: 80px;  
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #d48800;  
    color: #fff; 
  }
}

.catalogbutton a {
  size:18px;
  text-decoration: none;  
}
