.Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    border: none;
    border-radius: 100px;
    font-family: var(--font-inter);
    background-color: var(--yellow);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;}

.button_large {
    font-size: 22px;
    padding: 12px 24px;
 }
