.categories {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: var(--primary-color);
    margin-bottom: 10px;
  
    span {
      color: #fdbd2d;
    }
  }
  
  .subtitle {
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    color: rgb(63, 78, 101);
    margin-bottom: 20px;
  }
  
  .categories-list {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
  }
  
  .category-item {
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    text-decoration: none;
    color: black;
    width: 250px;
    height: 291px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 20px;
    background-color: #f9f6f2;
    padding: 10px;
  }
  
  .category-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  
  .category-name {
    margin-top: auto;
    font-size: 16px;
    font-weight: 500;
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
  
    .subtitle {
      font-size: 14px;
      line-height: 1.2;
      text-align: center;
      color: rgb(63, 78, 101);
    }
  
    .categories-list {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  
    .category-item {
      width: 140px;
      height: 184px;
      margin: 10px;
    }
  
    .category-image {
      height: 140px;
      width: 140px;
    }
  
    .category-name {
      font-size: 12px;
      font-weight: 500;
    }
  }
  