.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #3f4e65;
    gap: 30px;
  }
.contactInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #3f4e65;
  width: 236px;
  }
  
  .contactInfo span {
    font-weight: bold;
    size: 14px;
    height: 21px;
    color: #111111;
    width:136px;
    height:21px;
    size: 14px;
  }
  
  .contactInfo p {
    margin: 0;
    size: 12px;
    width:200px;
    height: 18 px;
    color: #3f4e65;
    
  }
  
  .contactInfo .text {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: flex-end; 
    text-align: right;
 
  }
  
  .contactInfo img{

    margin-left:10px;
    color: #3f4e65;
    width: 70px;
    height: 92px;
  }


  .vertical {
    width: 0;
    height: 39px;
    border-left: 1px dotted #3f4e65;
    margin: 2px;
  }
  