.header {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 10px 0;
}

.header_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #3f4e65;
  padding: 5px 5px;
}

.header_row {
  display: flex;
  align-items: center;
  width: 100%; // 
}

.header_left_part {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header_icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.header_text1 {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 2px;
}

.header_text2 {
  font-size: 12px;
  font-weight: 300;
  color: #3f4e65;
  text-decoration: none;
}

.header_vertical {
  width: 0;
  height: 39px;
  border-left: 1px dotted #3f4e65;
  margin: 2px;
}

.header_nav_container {
  margin-left: auto; 
  text-decoration: none;
}

.header_nav {
  align-items: center;
  display: flex;
  column-gap: 30px;
  text-decoration: none;
}

.header_nav a {
  text-decoration: none;
  font-size: 14px;
  color: #3f4e65;
  transition: color 0.3s;
}

.header_nav a:hover {
  color: #000000;
  text-decoration: none;
}

