.contactContainer {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  overflow: hidden;
}

.contactInfo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 450px; 
  padding: 15px;
  background: rgba(255, 255, 255, 0.7); 
  z-index: 2;
  border: 1px solid #ddd; 
  border-radius: 5px;
  color: #000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.contactInfo h2 {
  margin-bottom: 10px;
  font-size: 20px; 
}

.contactInfo p {
  font-size: 14px; 
}

.contactDetails {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.contactAddress,
.contactSales,
.contactTax {
  margin-bottom: 10px;
}

.contactAddress strong,
.contactSales strong,
.contactTax strong {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contactMap {
  position: relative;
  width: 100%;
  height: 400px; 
  z-index: 1;
}
