.priceListButton {
    background-color: #ffc107;
    border-radius: 30px;
    padding: 10px 20px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s;
    width:200px;
    height: 59px;
  
    &:hover {
      background-color: #ffb300;
    }

    .priceListButton span { 
      align-items: center;
      width:150px;
      height:17px;
      size:14px;
      
    }
  
  
    .icon {
    margin-left: 8px; 
    display: flex;
    align-items: center;
    }
  }
  
  