.searchBar {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 5px 10px;
  }
  
  .searchInput {
    border: none;
    background: none;
    outline: none;
    padding: 5px;
    width: 150px;
    font-size: 14px;
    transition: width 0.3s;
  
    &:focus {
      width: 200px;
    }
  }
  
  .searchButton {
    margin-left: 8px;
    display: flex;
    align-items: center;

  }
  