.searchBar {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 5px 10px;
  width: 263px;
  height: 59px;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  padding: 5px;
  width: 150px;
  font-size: 14px;
  transition: width 0.3s;
  align-items: flex-end;

  &:focus {
    width: 200px;
  }
}

.searchButton {
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #ffd700; 
  border-radius: 50%; 
  border: none; 
  cursor: pointer;
  width: 39 px;
  height: 39 px;
 
}
