
:root {
  --textColor: #000;
  --primary-color: rgb(255, 200, 94);
}

body {
  font-family: 'Poppins', sans-serif; 
}

.container {

  width: 80%;
  margin: 0 auto;
}


@media (max-width: 768px) {

  .container {
    width: 90%;
    margin: 0 auto;
    padding: 0 30 px;
  }
}

body {
  direction: ltr;
}

body[lang="en"] {
  direction: ltr;
}

body[lang="ru"] {
  direction: ltr;
}